<div>
    <p>Scores</p>
    <!-- tableau des scores avec <numéro> <nom> <points> <details> -->
    <table>
        <tr>
            <th>Rang</th>
            <th>Nom</th>
            <th>Scores</th>
            <th>Détails</th>
        </tr>
        <tr *ngFor="let joueur of participants">
            <td>{{joueur.rang}}</td>
            <td>{{joueur.nom}}</td>
            <td>{{joueur.score}}</td>
            <td>{{joueur.nbVictoire}}-{{joueur.nbDefaite}}-{{joueur.nbNull}}</td>
            <td><button type="button" (click)="adminChangerRang(joueur.rang, 1)" >descendre</button></td>
            <td><button type="button" (click)="adminChangerRang(joueur.rang, -1)" >monter</button></td>
        </tr>
    </table>
</div>